/*
 * Estilos de tu proyecto
 */
* {
	margin: 0;
	padding: 0:;
}
body {
	font-family: 'Roboto', sans-serif;
}

nav{
	height: 10%;
	text-align: center;
	border-bottom: 1px solid #858484;
}

nav img {
	margin: 10px;
	width: 185px;
	height: auto;
	display: inline-block;
}

section {
	background-color: #FCFBFB;
	height: 800px;
}

.menu {
	background-color: #EBEBEB;
	height: 450px;
	width: 15%;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
	text-align: center;
}

.menu img {
	margin-top: 5%;
	width: 25%;
	height: auto;
}

.menu ul {
	text-align: center;
	margin top: 50px;
}
.menu ul li {
	list-style: none;
	line-height: 40px;
}

