/*
 * Estilos de tu proyecto
 */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}

/*SECCION NAV*/
nav{
	height: 10%;
	text-align: center;
	border-bottom: 1px solid #858484;
}

nav img {
	margin: 10px;
	width: 185px;
	height: auto;
	display: inline-block;
}

/*SECCION PRINCIPAL*/
.principal {
	background-color: #FCFBFB;
	height: auto;
	width: 100%;
}

/*MENU PERFIL*/
.menu {
	float: left;
	background-color: #EBEBEB;
	height: 450px;
	width: 15%;
	margin-top: 0;
	margin-right: 2.5%;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
	text-align: center;
}

.menu img {
	margin-top: 10%;
	width: 30%;
	height: auto;
}

.menu ul {
	text-align: center;
	margin top: 50px;
	padding-top: 40px;
}
.menu ul li {
	margin-left: 25%;
	margin-bottom: 5%;
	text-align: left;
	list-style: none;
	line-height: 40px;
}

.menu ul li:hover {
	cursor: pointer;
	border-bottom: 2px solid #fec63d;
}

/*GRAFICO SUPERIOR*/
.img-graphic {
	display: inline-block;
	width: 80%;
	height: 400px;
	margin-top: 50px;
}
.img-graphic img {
	width: 31%;
	height: 450px;
	margin: 1%;
	outline: 2px solid #dbdbdb;
}

/*GRAFICO TECH Y HSE*/
/*menú desplegable*/

.submenu li {
	display: inline-block;
}

.menus2 .itemList li {
	display: block;
	list-style: none;
	background-color: #fff;
}

.menus2 li {
	padding: 5px;
	display: inline-block;
}

.menus2 ul ul {
	position: absolute;
}

.menus2 li:hover {
	background-color: silver;
	cursor: pointer;
}

/*Grafico HSE Y TECH*/
.skills {
	text-align: center;
	background-color: #FFF;
	width: 90%;
	height: 40%;
	margin: 2% 5%;
}

/* SATISFACCION DE LOS ESTUDIANTES*/

.student-satisfaction {
	text-align: center;
	background-color: #FFF;
	width: 90%
	height: 40%;
	margin: 2% 5%;
}






.menus1 {
	display: inline-block;
}

.menus1 ul li {
	display: block;
	list-style: none;
	background-color: #fff;
}

.menus1 .itemList li {
	display: block;
	list-style: none;
	text-decoration: none;
}

.menus1 li {
	padding: 5px;
}

.menus1 ul ul {
	position: absolute;
	width: auto;
}

.menus1 ul {
	border-top: 10px
}
li:hover {
	cursor: pointer;
}

.menus1 li:hover {
	background-color: silver;
}


.hide {
	display: none;
}

.show {
	display: block;
}


